In [3]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows',20)
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled',True)

In [12]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
import numpy as np
import pyspark.sql.functions as func
from pyspark.sql.functions import col
from pyspark.sql.types import FloatType
from pyspark.sql.types import DecimalType

In [13]:
import psycopg2
con=psycopg2.connect(dbname= 'ssg', host='samsung-dl.chi3jsb4kpjs.us-east-1.redshift.amazonaws.com',
port= '5439', user= 'dferreira', password= 'Y7*K.8jyNgdb')

In [14]:
cursor = con.cursor()

In [15]:
sql = '''select cad1.midia, cad26.midia,cad12.midia,
cad1.investiment as cad1inv, cad1.impressions as cad1imp,
cad3.investiment as cad3inv, cad3.impressions as cad3imp,
cad12.investiment as cad12inv, cad12.impressions as cad12imp,
cad26.investiment as cad26inv, cad26.impressions as cad26imp, 
cad42.investiment as cad42inv, cad42.impressions as cad42imp
from (select midia,
		round(sum(cost),0) as investiment,
		round(sum(impressions),0) as impressions,
		date
		from datamarts.tb_consolidada_geral_dia tcgd
		where (date >= current_date-1)
		and (campaignname like '%cad1-%')
		and (midia in ('google','criteo','bing', 'facebook'))
		group by 1,date) cad1
full join
  (select midia,
		round(sum(cost),0) as investiment,
		round(sum(impressions),0) as impressions,
		date
		from datamarts.tb_consolidada_geral_dia tcgd
		where (date >= current_date-1)
		and (campaignname like '%cad3-%')
		and (midia in ('google','criteo','bing', 'facebook'))
		group by 1,date) cad3
on cad1.midia = cad3.midia
full join
  (select midia,
		round(sum(cost),0) as investiment,
		round(sum(impressions),0) as impressions,
		date
		from datamarts.tb_consolidada_geral_dia tcgd
		where (date >= current_date-1)
		and (campaignname like '%cad12-%')
		and (midia in ('google','criteo','bing', 'facebook'))
		group by 1,date) cad12
on cad12.midia = cad1.midia
full join
  (select midia,
		round(sum(cost),0) as investiment,
		round(sum(impressions),0) as impressions,
		date
		from datamarts.tb_consolidada_geral_dia tcgd
		where (date >= current_date-1)
		and (campaignname like '%cad26-%')
		and (midia in ('google','criteo','bing', 'facebook'))
		group by 1,date) cad26
on cad26.midia = cad1.midia
full join
  (select midia,
		round(sum(cost),0) as investiment,
		round(sum(impressions),0) as impressions,
		date
		from datamarts.tb_consolidada_geral_dia tcgd
		where (date >= current_date-1)
		and (campaignname like '%cad42-%')
		and (midia in ('google','criteo','bing', 'facebook'))
		group by 1,date) cad42
on cad42.midia = cad1.midia;'''

In [19]:
cursor.execute(sql)
colnames = [desc[0] for desc in cursor.description] 
df_cad42 = cursor.fetchall()

In [20]:
print(df)

[('bing', None, None, Decimal('1878'), Decimal('56765'), None, None, None, None, None, None, None, None), ('criteo', None, None, Decimal('2239'), Decimal('552097'), None, None, None, None, None, None, None, None), ('facebook', 'facebook', 'facebook', Decimal('5558'), Decimal('408493'), None, None, Decimal('788'), Decimal('72734'), Decimal('1820'), Decimal('173898'), None, None), ('google', 'google', 'google', Decimal('17369'), Decimal('2059404'), Decimal('63884'), Decimal('2304087'), Decimal('1207'), Decimal('13099'), Decimal('2002'), Decimal('1512216'), Decimal('3533'), Decimal('84799'))]

[]

In [21]:
df = spark.createDataFrame(df_cad42,colnames)

In [23]:
# cad42 = df.withColumn("investiment",df["investiment"].cast(DecimalType()))\
#             .withColumn("impressions",df["impressions"].cast(DecimalType()))

In [24]:
df

+--------+--------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   midia|   midia|   midia|             cad1inv|             cad1imp|             cad3inv|             cad3imp|            cad12inv|            cad12imp|            cad26inv|            cad26imp|            cad42inv|            cad42imp|
+--------+--------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|facebook|facebook|facebook|5558.000000000000...|408493.0000000000...|                null|                null|788.0000000000000...|72734.00000000000...|1820.000000000000...|173898.0000000000...|                null|                null|
|  google|  google|  google|17369.00000000000...|2059404.000000000...|63884.00000000000...|2304087.000000000...|1207.000000000000...|13099.00000000000...|2002.000000000000...|1512216.000000000...|3533.000000000000...|84799.00000000000...|
|    bing|    null|    null|1878.000000000000...|56765.00000000000...|                null|                null|                null|                null|                null|                null|                null|                null|
|  criteo|    null|    null|2239.000000000000...|552097.0000000000...|                null|                null|                null|                null|                null|                null|                null|                null|
+--------+--------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [25]:
con.commit()

In [26]:
con.close()