In [1]:
import psycopg2

In [15]:
# pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

In [6]:
import gspread

In [7]:
# importing the required libraries
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

In [21]:
# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('./json/samsung-automation-46eb8c6da77a.json', scope)

# authorize the clientsheet
client = gspread.authorize(creds)

In [26]:
# get the instance of the Spreadsheet
sheet = client.open('Samsung - Geral Dia')

# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(4)

In [184]:
#retorna os valores da coluna
sheet_instance.col_values(3)

In [152]:
# get the total number of columns
sheet_instance.col_count
## >> 26

36

In [166]:
# get the value at the specific cell
sheet_instance.cell(col=3,row=2)
## >> <Cell R2C3 '63881'>

In [163]:
sheet_instance.get_note('D81')

''

In [165]:
#Returns a list of all Cell of the current sheet
sheet_instance.get_all_cells()

In [168]:
# sheet_instance.get_values()

In [181]:
sheet_instance.cell(1, 5).value

'Cost'

In [188]:
# sheet_instance.findall("ca")

In [189]:
# sheet_instance.col_values(4)

In [ ]:
#pega com as colunas, necessario colunas diferentes
# records_data = sheet_instance.get_all_records()

In [190]:
# get all the records of the data
# get_values() with no range specified, it will return all the values of the current sheet
# get_all_values() this is a legacy method that calls get_values
# get_all_cells() that will return a single list of Cell object for every cell in that sheet.

In [98]:
import re

In [536]:
pattern = re.compile(r'2022-04-18')
cell_list = sheet_instance.findall(pattern)

In [537]:
cell_list

[<Cell R201C1 '2022-04-18'>,
 <Cell R202C1 '2022-04-18'>,
 <Cell R203C1 '2022-04-18'>,
 <Cell R204C1 '2022-04-18'>,
 <Cell R205C1 '2022-04-18'>,
 <Cell R206C1 '2022-04-18'>,
 <Cell R207C1 '2022-04-18'>,
 <Cell R208C1 '2022-04-18'>,
 <Cell R209C1 '2022-04-18'>,
 <Cell R210C1 '2022-04-18'>,
 <Cell R211C1 '2022-04-18'>,
 <Cell R212C1 '2022-04-18'>,
 <Cell R213C1 '2022-04-18'>,
 <Cell R214C1 '2022-04-18'>,
 <Cell R215C1 '2022-04-18'>,
 <Cell R216C1 '2022-04-18'>,
 <Cell R217C1 '2022-04-18'>,
 <Cell R218C1 '2022-04-18'>,
 <Cell R219C1 '2022-04-18'>,
 <Cell R220C1 '2022-04-18'>,
 <Cell R221C1 '2022-04-18'>,
 <Cell R222C1 '2022-04-18'>,
 <Cell R223C1 '2022-04-18'>,
 <Cell R224C1 '2022-04-18'>,
 <Cell R225C1 '2022-04-18'>,
 <Cell R226C1 '2022-04-18'>,
 <Cell R227C1 '2022-04-18'>,
 <Cell R228C1 '2022-04-18'>,
 <Cell R229C1 '2022-04-18'>,
 <Cell R230C1 '2022-04-18'>,
 <Cell R231C1 '2022-04-18'>,
 <Cell R232C1 '2022-04-18'>,
 <Cell R233C1 '2022-04-18'>,
 <Cell R234C1 '2022-04-18'>,
 <Cell R235C1 '2022-04-18'>,
 <Cell R236C1 '2022-04-18'>,
 <Cell R237C1 '2022-04-18'>,
 <Cell R238C1 '2022-04-18'>,
 <Cell R239C1 '2022-04-18'>,
 <Cell R240C1 '2022-04-18'>,
 <Cell R241C1 '2022-04-18'>,
 <Cell R242C1 '2022-04-18'>,
 <Cell R243C1 '2022-04-18'>,
 <Cell R244C1 '2022-04-18'>,
 <Cell R245C1 '2022-04-18'>,
 <Cell R246C1 '2022-04-18'>,
 <Cell R247C1 '2022-04-18'>,
 <Cell R248C1 '2022-04-18'>,
 <Cell R249C1 '2022-04-18'>,
 <Cell R250C1 '2022-04-18'>,
 <Cell R251C1 '2022-04-18'>,
 <Cell R252C1 '2022-04-18'>,
 <Cell R253C1 '2022-04-18'>,
 <Cell R254C1 '2022-04-18'>,
 <Cell R255C1 '2022-04-18'>,
 <Cell R256C1 '2022-04-18'>,
 <Cell R257C1 '2022-04-18'>,
 <Cell R258C1 '2022-04-18'>,
 <Cell R259C1 '2022-04-18'>,
 <Cell R260C1 '2022-04-18'>,
 <Cell R261C1 '2022-04-18'>,
 <Cell R262C1 '2022-04-18'>,
 <Cell R263C1 '2022-04-18'>,
 <Cell R264C1 '2022-04-18'>,
 <Cell R265C1 '2022-04-18'>,
 <Cell R266C1 '2022-04-18'>,
 <Cell R267C1 '2022-04-18'>,
 <Cell R268C1 '2022-04-18'>,
 <Cell R269C1 '2022-04-18'>,
 <Cell R270C1 '2022-04-18'>,
 <Cell R271C1 '2022-04-18'>,
 <Cell R272C1 '2022-04-18'>,
 <Cell R273C1 '2022-04-18'>,
 <Cell R274C1 '2022-04-18'>,
 <Cell R275C1 '2022-04-18'>,
 <Cell R276C1 '2022-04-18'>,
 <Cell R277C1 '2022-04-18'>,
 <Cell R278C1 '2022-04-18'>,
 <Cell R279C1 '2022-04-18'>,
 <Cell R280C1 '2022-04-18'>,
 <Cell R281C1 '2022-04-18'>,
 <Cell R282C1 '2022-04-18'>,
 <Cell R283C1 '2022-04-18'>,
 <Cell R284C1 '2022-04-18'>,
 <Cell R285C1 '2022-04-18'>,
 <Cell R286C1 '2022-04-18'>,
 <Cell R287C1 '2022-04-18'>,
 <Cell R288C1 '2022-04-18'>,
 <Cell R289C1 '2022-04-18'>]

In [405]:
mask = cell_list[0].address +":"+ cell_list[-1].address

In [542]:
google_ads = sheet_instance.get('R201C1:R289C7')

In [543]:
# google_ads

In [544]:
df = pd.DataFrame(google_ads)
# 2065236490

In [706]:
df

,0,1,2,3,4,5,6
0,2022-04-18,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,660.90,617483,0
1,2022-04-18,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,140.52,2024,4541
2,2022-04-18,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,136.25,772,924
3,2022-04-18,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,404.59,294209,0
4,2022-04-18,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,442.38,1844,2001
...,...,...,...,...,...,...,...
84,2022-04-18,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a0002_seda_care-plus_google_text_inst...,96.13,26,27
85,2022-04-18,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1000_seda_care-plus_google_text_smar...,1316.51,6290,7860
86,2022-04-18,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1010_seda_care-plus_google_text_smar...,1552.90,365,375
87,2022-04-18,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a3001_seda_care-plus_google_text_wata...,18.37,77,83
88,2022-04-18,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a8000_seda_care-plus_gdn_discovery_sm...,1964.77,347759,0

In [707]:
filter1 = df[3].str.contains('cad3-')

In [720]:
df[4] = df[4].astype(float)

In [723]:
df.groupby(0)[3].apply(lambda ser: ser.str.contains("cad3-"))

0     False
1     False
2     False
3     False
4     False
      ...
84    False
85    False
86    False
87    False
88    False
Name: 3, Length: 89, dtype: bool

In [726]:
df[3].str.contains("cad3-").groupby(0).sum()

ValueError: Grouper for '0' not 1-dimensional

In [678]:
valid = pd.DataFrame(columns=['midia', 'cost','imp'])

In [679]:
filters = ['cad3-','cad26-','cad42-']

In [680]:
for i in filters:
    cad_filter = df[df[3].str.contains(i)]
    valid.loc[i] =  [i+'cad1inv',cad_filter[4].astype(float).sum(),cad_filter[5].astype(float).sum()]

In [681]:
valid

               midia      cost        imp
cad3-    cad3-google  47206.76  2561709.0
cad26-  cad26-google   2581.64  1683406.0
cad42-  cad42-google    516.60    29540.0

In [663]:
valid.loc[0] =  ['cad3-google',cad_filter[5].astype(float).sum(),cad_filter[4].astype(float).sum()]

In [664]:
valid

          midia       cost      imp
1  cad26-google  1683406.0  2581.64

In [648]:
valid

          midia       cost      imp
0  cad26-google  1683406.0  2581.64

In [526]:
df[5].astype(float).count()

209

In [150]:
records_data = sheet_instance.col_values(3)

# view the data
records_data

['Account',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | HQ | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | HQ | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | HQ | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care']

In [39]:
# convert the json to dataframe
records_df = pd.DataFrame.from_dict(records_data)

# view the top records
records_df.head()

      carros      pais  quantidade
0     toyota     japao           2
1  volkswage  alemanha           3
2  volkswage  alemanha           4
3  volkswage  alemanha           4
4  volkswage  alemanha           2

In [43]:
# add a sheet with 20 rows and 2 columns
# sheet.add_worksheet(rows=20,cols=2,title='runs')

# get the instance of the second sheet
sheet_runs = sheet.get_worksheet(1)

In [42]:
sheet_runs.insert_rows(runs.values.tolist())

{'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
 'updates': {'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
  'updatedRange': 'runs!A1:B3',
  'updatedRows': 3,
  'updatedColumns': 2,
  'updatedCells': 6}}

In [41]:

# number of runs by each batsman
runs = records_df.groupby(['pais'])['quantidade'].count().reset_index()
runs

       pais  quantidade
0  alemanha          10
1    brasil           4
2     japao           6

In [51]:
# def main():
#     """Shows basic usage of the Sheets API.
#     Prints values from a sample spreadsheet.
#     """
#     creds = None
#     # The file token.json stores the user's access and refresh tokens, and is
#     # created automatically when the authorization flow completes for the first
#     # time.
#     if os.path.exists('token.json'):
#         creds = Credentials.from_authorized_user_file('token.json', SCOPES)
#     # If there are no (valid) credentials available, let the user log in.
#     if not creds or not creds.valid:
#         if creds and creds.expired and creds.refresh_token:
#             creds.refresh(Request())
#         else:
#             flow = InstalledAppFlow.from_client_secrets_file(
#                 'fiap3sis-3b74d339060b.json', SCOPES)
#             creds = flow.run_local_server(port=0)
#         # Save the credentials for the next run
#         with open('token.json', 'w') as token:
#             token.write(creds.to_json())

#     try:
#         service = build('sheets', 'v4', credentials=creds)

#         # Call the Sheets API
#         sheet = service.spreadsheets()
#         result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
#                                     range=SAMPLE_RANGE_NAME).execute()
#         values = result.get('values', [])

#         if not values:
#             print('No data found.')
#             return

#         print('Name, Major:')
#         for row in values:
#             # Print columns A and E, which correspond to indices 0 and 4.
#             print('%s, %s' % (row[0], row[4]))
#     except HttpError as err:
#         print(err)

In [55]:
import pandas as pd
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow,Flow
from google.auth.transport.requests import Request
import os
import pickle

SCOPES = ['https://www.googleapis.com/auth/drive']

# here enter the id of your google sheet
SAMPLE_SPREADSHEET_ID_input = '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM'
SAMPLE_RANGE_NAME = 'A1:AA1000'

def main():
    global values_input, service
    creds = None
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'fiap3sis-3b74d339060b.json', SCOPES) # here enter the name of your downloaded JSON file
            creds = flow.run_local_server(port=0)
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result_input = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID_input,
                                range=SAMPLE_RANGE_NAME).execute()
    values_input = result_input.get('values', [])

    if not values_input and not values_expansion:
        print('No data found.')

main()

df=pd.DataFrame(values_input[1:], columns=values_input[0])

ValueError: Client secrets must be for a web or installed app.

In [1]:
H(x) -> h

SyntaxError: invalid syntax (1210039442.py, line 1)

In [2]:
import hashlib

In [6]:
print(hashlib.algorithms_available)

{'sha512_224', 'blake2s', 'shake_128', 'sha3_224', 'sha384', 'sha3_256', 'ripemd160', 'sha512_256', 'whirlpool', 'sm3', 'mdc2', 'sha256', 'sha224', 'blake2b', 'sha3_512', 'md4', 'sha3_384', 'md5', 'md5-sha1', 'sha1', 'sha512', 'shake_256'}

In [5]:
hashlib.md5('123').hexdigest()

TypeError: Strings must be encoded before hashing

In [7]:
print(hashlib.md5(b'Hello World').digest())

b'\xb1\n\x8d\xb1d\xe0uA\x05\xb7\xa9\x9b\xe7.?\xe5'