In [1]:
import psycopg2

In [17]:
# pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib gspread oauth2client

In [2]:
import gspread

In [40]:
# importing the required libraries
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

In [41]:
# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('./json/pass.json', scope)

# authorize the clientsheet
client = gspread.authorize(creds)

In [42]:
# get the instance of the Spreadsheet
sheet = client.open('Samsung - Geral Dia')

# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(4)

In [43]:
#retorna os valores da coluna
# sheet_instance.col_values(3)

In [44]:
# get the total number of columns
sheet_instance.col_count
## >> 26

36

In [45]:
# get the value at the specific cell
sheet_instance.cell(col=3,row=2)
## >> <Cell R2C3 '63881'>

In [46]:
sheet_instance.get_note('D81')

''

In [47]:
#Returns a list of all Cell of the current sheet
# sheet_instance.get_all_cells()

In [48]:
# sheet_instance.get_values()

In [49]:
sheet_instance.cell(1, 5).value

'Cost'

In [50]:
# sheet_instance.findall("ca")

In [51]:
# sheet_instance.col_values(4)

In [52]:
#pega com as colunas, necessario colunas diferentes
# records_data = sheet_instance.get_all_records()

In [53]:
# get all the records of the data
# get_values() with no range specified, it will return all the values of the current sheet
# get_all_values() this is a legacy method that calls get_values
# get_all_cells() that will return a single list of Cell object for every cell in that sheet.

In [54]:
from datetime import date, datetime, timedelta

In [55]:
from datetime import datetime, timedelta
futuredate = datetime.now() + timedelta(days=10)

In [71]:
today_minus = f'{date.today()-timedelta(days=1)}|{date.today()-timedelta(days=2)}' 
current_date_1 =  f'{date.today()-timedelta(days=1)}'

In [72]:
today_minus

'2022-04-21|2022-04-20'

In [73]:
import re

In [74]:
def validation(current_date_1_param):
    from datetime import datetime, timedelta
    futuredate = datetime.now() + timedelta(days=10)
    today_minus = f'{date.today()}|{date.today()-timedelta(days=3)}'
    current_date_1 =  f'{date.today()-timedelta(days=current_date_1_param)}'
    pattern = re.compile(r'(%s)'%current_date_1)
    cell_list = sheet_instance.findall(pattern)
    mask = f'R{cell_list[0].row}C{cell_list[0].col}:R{cell_list[-1].row}C9'
    google_ads = sheet_instance.get(mask)
    df = pd.DataFrame(google_ads)
    dictr = {0: 'date',
             3: 'campaign',
             4: 'cost',
             5: 'impressions'}
    df.rename(columns=dictr,inplace=True)

In [75]:
pattern = re.compile(r'(%s)'%today_minus)
cell_list = sheet_instance.findall(pattern)

In [76]:
# cell_list

In [77]:
mask = f'R{cell_list[0].row}C{cell_list[0].col}:R{cell_list[-1].row}C9'

In [78]:
google_ads = sheet_instance.get(mask)

In [79]:
# google_ads

In [80]:
df = pd.DataFrame(google_ads)
# 2065236490

In [81]:
dictr = {0: 'date',
         3: 'campaign',
         4: 'cost',
         5: 'impressions'}
 
# call rename () method
df.rename(columns=dictr,
          inplace=True)
 
# print Data frame after rename columns

In [82]:
for i in dictr.values():
    print(i+'f')

datef
campaignf
costf
impressionsf

In [83]:
df.where(df['campaign'].str.contains('cad26-')).dropna()

,date,1,2,campaign,cost,impressions,6,7,8
0,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,579.41,405176,0,2169,5314
1,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,139.12,1735,0,401,0
2,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,488.86,4581,0,240,0
3,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,435.1,228246,0,737,581
4,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,434.58,1608,0,143,0
5,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,171.91,1595,0,117,0
6,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0028_seda_brandshop_google_text_smar...,8.08,108,0,5,0
7,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0029_seda_brandshop_google_local_sma...,289.94,173510,0,2575,1864
8,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0030_seda_brandshop_google_local_sma...,130.54,128178,0,469,86
9,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,214.11,349154,0,1576,866
114,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,513.11,508722,0,2227,0
115,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,147.22,1616,0,370,0
116,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,542.46,4980,0,265,0
117,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,390.39,753765,0,1599,0
118,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,453.95,1722,0,135,0
119,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,173.67,1536,0,115,0
120,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0028_seda_brandshop_google_text_smar...,12.63,129,0,9,0
121,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0029_seda_brandshop_google_local_sma...,315.75,94273,0,6314,0
122,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0030_seda_brandshop_google_local_sma...,138.49,143716,0,896,0
123,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,216.6,206346,0,1170,0

In [84]:
df

,date,1,2,campaign,cost,impressions,6,7,8
0,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,579.41,405176,0,2169,5314
1,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,139.12,1735,0,401,0
2,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,488.86,4581,0,240,0
3,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,435.1,228246,0,737,581
4,2022-04-20,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,434.58,1608,0,143,0
...,...,...,...,...,...,...,...,...,...
219,2022-04-21,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a0002_seda_care-plus_google_text_inst...,5.12,26,0,11,0
220,2022-04-21,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1000_seda_care-plus_google_text_smar...,722.92,2188,0,320,0
221,2022-04-21,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1010_seda_care-plus_google_text_smar...,884.06,322,0,89,0
222,2022-04-21,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a3001_seda_care-plus_google_text_wata...,7.93,32,0,4,0
223,2022-04-21,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a8000_seda_care-plus_gdn_discovery_sm...,845.27,170753,0,2613,0

In [85]:
df.where(df['campaign'].str.contains('cad42')).dropna()

,date,1,2,campaign,cost,impressions,6,7,8
97,2022-04-20,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a5500_hq_ecommerce_google_pla_noteboo...,345.9,11175,0,278,0
209,2022-04-21,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a5500_hq_ecommerce_google_pla_noteboo...,854.17,16771,0,355,0

In [86]:
group

,date,1,2,campaign,cost_cad26-,impressions_cad26-,6,7,8,midia
0,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,513.11,508722,0,2227,0,google
1,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,147.22,1616,0,370,0,google
2,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,542.46,4980,0,265,0,google
3,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,390.39,753765,0,1599,0,google
4,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,453.95,1722,0,135,0,google
5,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,173.67,1536,0,115,0,google
6,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0028_seda_brandshop_google_text_smar...,12.63,129,0,9,0,google
7,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0029_seda_brandshop_google_local_sma...,315.75,94273,0,6314,0,google
8,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0030_seda_brandshop_google_local_sma...,138.49,143716,0,896,0,google
9,2022-04-21,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,216.6,206346,0,1170,0,google

In [87]:
filters = ['cad1-','cad3-','cad12-','cad26-','cad42-']
final = pd.DataFrame()
for i in filters:
    df3 = df.where(df['campaign'].str.contains(i)).dropna()
    df3['midia'] = 'google'
    group = df3.rename(columns = {'cost':f'cost_{i}', 'impressions':f'impressions_{i}'})
    final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())

/tmp/ipykernel_104/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_104/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_104/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_104/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_104/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())

In [88]:
final

,date,midia,cost_cad1-,impressions_cad1-,cost_cad3-,impressions_cad3-,cost_cad12-,impressions_cad12-,cost_cad26-,impressions_cad26-,cost_cad42-,impressions_cad42-
0,2022-04-20,google,NaN,NaN,76301.7,2749362.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-21,google,NaN,NaN,68912.7,2246703.0,NaN,NaN,NaN,NaN,NaN,NaN
0,2022-04-20,google,NaN,NaN,NaN,NaN,568.41,5101.0,NaN,NaN,NaN,NaN
1,2022-04-21,google,NaN,NaN,NaN,NaN,515.13,1890.0,NaN,NaN,NaN,NaN
0,2022-04-20,google,NaN,NaN,NaN,NaN,NaN,NaN,2891.65,1293891.0,NaN,NaN
1,2022-04-21,google,NaN,NaN,NaN,NaN,NaN,NaN,2904.27,1716805.0,NaN,NaN
0,2022-04-20,google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,345.90,11175.0
1,2022-04-21,google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,854.17,16771.0

In [37]:
filters = ['cad1-','cad3-','cad12-','cad26-']
final = pd.DataFrame()
for i in filters:
    df3 = df.where(df['campaign'].str.contains(i)).dropna()
    df3['midia'] = 'google'
    group = df3.rename(columns = {'cost':f'cost_{i}', 'impressions':f'impressions_{i}'})
    df1 = pd.DataFrame(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
    rsult = pd.concat([df1, df1], axis=1, join="outer")

In [38]:
rsult

,date,midia,cost_cad26-,impressions_cad26-,date,midia,cost_cad26-,impressions_cad26-
0,2022-04-21,google,2904.27,1716805.0,2022-04-21,google,2904.27,1716805.0

In [99]:
# df.groupby(0)[3].apply(lambda ser: ser.str.contains("cad26-"))

In [109]:
result = df.where(filter1)

In [110]:
result.dropna()

Empty DataFrame
Columns: [date, 1, 2, campaign, cost, impressions, 6, 7, 8]
Index: []

In [108]:
result.groupby('date')[['cost','impressions']].apply(lambda x : x.astype(float).sum()).reset_index()

         date      cost  impressions
0  2022-04-19  66061.82    2910958.0

In [206]:
# df.dropna().groupby(0)[[4,5]].sum(4).reset_index()

            0         4          5
0  2022-04-18  47206.76  2561709.0

In [139]:
df['midia'] = 'google'

In [140]:
df.dropna()

,0,1,2,3,4,5,6,7,8,midia
47,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a0009_hq_ecommerce_google_text_institu...,1018.10,19103,20337,3721,0,google
48,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a0010_hq_ecommerce_google_text_institu...,2239.63,9200,9650,2091,0,google
49,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4075_hq_ecommerce_google_text_smartph...,2509.24,18648,38821,971,0,google
50,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4081_hq_ecommerce_google_text_smartph...,123.95,986,1055,66,0,google
51,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4082_hq_ecommerce_google_text_smartph...,598.90,5315,5837,275,0,google
...,...,...,...,...,...,...,...,...,...,...
260,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5512_hq_ecommerce_google_pla_accessor...,1852.05,128118,0,2465,0,google
261,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5934_hq_ecommerce_google_pla_wearable...,5287.66,234912,0,2180,0,google
262,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5940_hq_ecommerce_google_pla_tablets_...,5777.19,344951,0,4081,0,google
263,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5942_hq_ecommerce_google_pla_hearable...,817.00,78111,0,740,0,google
264,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5946_hq_ecommerce_google_pla_smartpho...,14681.43,1318764,0,16098,0,google

In [678]:
valid = pd.DataFrame(columns=['midia', 'cost','imp'])

In [679]:
filters = ['cad1-','cad3-','cad12-','cad26-','cad42-']

In [680]:
for i in filters:
    cad_filter = df[df[3].str.contains(i)]
    valid.loc[i] =  [i+'cad1inv',cad_filter[4].astype(float).sum(),cad_filter[5].astype(float).sum()]

In [681]:
valid

               midia      cost        imp
cad3-    cad3-google  47206.76  2561709.0
cad26-  cad26-google   2581.64  1683406.0
cad42-  cad42-google    516.60    29540.0

In [663]:
valid.loc[0] =  ['cad3-google',cad_filter[5].astype(float).sum(),cad_filter[4].astype(float).sum()]

In [664]:
valid

          midia       cost      imp
1  cad26-google  1683406.0  2581.64

In [648]:
valid

          midia       cost      imp
0  cad26-google  1683406.0  2581.64

In [43]:
# add a sheet with 20 rows and 2 columns
# sheet.add_worksheet(rows=20,cols=2,title='runs')

# get the instance of the second sheet
sheet_runs = sheet.get_worksheet(1)

In [42]:
sheet_runs.insert_rows(runs.values.tolist())

{'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
 'updates': {'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
  'updatedRange': 'runs!A1:B3',
  'updatedRows': 3,
  'updatedColumns': 2,
  'updatedCells': 6}}

In [41]:

# number of runs by each batsman
runs = records_df.groupby(['pais'])['quantidade'].count().reset_index()
runs

       pais  quantidade
0  alemanha          10
1    brasil           4
2     japao           6

In [51]:
# def main():
#     """Shows basic usage of the Sheets API.
#     Prints values from a sample spreadsheet.
#     """
#     creds = None
#     # The file token.json stores the user's access and refresh tokens, and is
#     # created automatically when the authorization flow completes for the first
#     # time.
#     if os.path.exists('token.json'):
#         creds = Credentials.from_authorized_user_file('token.json', SCOPES)
#     # If there are no (valid) credentials available, let the user log in.
#     if not creds or not creds.valid:
#         if creds and creds.expired and creds.refresh_token:
#             creds.refresh(Request())
#         else:
#             flow = InstalledAppFlow.from_client_secrets_file(
#                 'fiap3sis-3b74d339060b.json', SCOPES)
#             creds = flow.run_local_server(port=0)
#         # Save the credentials for the next run
#         with open('token.json', 'w') as token:
#             token.write(creds.to_json())

#     try:
#         service = build('sheets', 'v4', credentials=creds)

#         # Call the Sheets API
#         sheet = service.spreadsheets()
#         result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
#                                     range=SAMPLE_RANGE_NAME).execute()
#         values = result.get('values', [])

#         if not values:
#             print('No data found.')
#             return

#         print('Name, Major:')
#         for row in values:
#             # Print columns A and E, which correspond to indices 0 and 4.
#             print('%s, %s' % (row[0], row[4]))
#     except HttpError as err:
#         print(err)

In [55]:
import pandas as pd
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow,Flow
from google.auth.transport.requests import Request
import os
import pickle

SCOPES = ['https://www.googleapis.com/auth/drive']

# here enter the id of your google sheet
SAMPLE_SPREADSHEET_ID_input = '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM'
SAMPLE_RANGE_NAME = 'A1:AA1000'

def main():
    global values_input, service
    creds = None
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'fiap3sis-3b74d339060b.json', SCOPES) # here enter the name of your downloaded JSON file
            creds = flow.run_local_server(port=0)
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result_input = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID_input,
                                range=SAMPLE_RANGE_NAME).execute()
    values_input = result_input.get('values', [])

    if not values_input and not values_expansion:
        print('No data found.')

main()

df=pd.DataFrame(values_input[1:], columns=values_input[0])

ValueError: Client secrets must be for a web or installed app.