In [1]:
import psycopg2

In [15]:
# pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

In [3]:
import gspread

In [4]:
# importing the required libraries
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

In [5]:
# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('./json/samsung-automation-46eb8c6da77a.json', scope)

# authorize the clientsheet
client = gspread.authorize(creds)

In [6]:
# get the instance of the Spreadsheet
sheet = client.open('Samsung - Geral Dia')

# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(4)

In [7]:
#retorna os valores da coluna
# sheet_instance.col_values(3)

In [8]:
# get the total number of columns
sheet_instance.col_count
## >> 26

36

In [9]:
# get the value at the specific cell
sheet_instance.cell(col=3,row=2)
## >> <Cell R2C3 '63881'>

In [10]:
sheet_instance.get_note('D81')

''

In [11]:
#Returns a list of all Cell of the current sheet
# sheet_instance.get_all_cells()

In [12]:
# sheet_instance.get_values()

In [13]:
sheet_instance.cell(1, 5).value

'Cost'

In [14]:
# sheet_instance.findall("ca")

In [15]:
# sheet_instance.col_values(4)

In [16]:
#pega com as colunas, necessario colunas diferentes
# records_data = sheet_instance.get_all_records()

In [17]:
# get all the records of the data
# get_values() with no range specified, it will return all the values of the current sheet
# get_all_values() this is a legacy method that calls get_values
# get_all_cells() that will return a single list of Cell object for every cell in that sheet.

In [18]:
from datetime import date, datetime, timedelta

In [20]:
from datetime import datetime, timedelta
futuredate = datetime.now() + timedelta(days=10)

In [23]:
today_minus = f'{date.today()}|{date.today()-timedelta(days=3)}' 
current_date_1 =  f'{date.today()-timedelta(days=1)}'

In [24]:
current_date_1

'2022-04-19'

In [25]:
import re

In [112]:
def validation(current_date_1_param):
    from datetime import datetime, timedelta
    futuredate = datetime.now() + timedelta(days=10)
    today_minus = f'{date.today()}|{date.today()-timedelta(days=3)}'
    current_date_1 =  f'{date.today()-timedelta(days=current_date_1_param)}'
    pattern = re.compile(r'(%s)'%current_date_1)
    cell_list = sheet_instance.findall(pattern)
    mask = f'R{cell_list[0].row}C{cell_list[0].col}:R{cell_list[-1].row}C9'
    google_ads = sheet_instance.get(mask)
    df = pd.DataFrame(google_ads)
    dictr = {0: 'date',
         3: 'campaign',
         4: 'cost',
         5: 'impressions'}
    df.rename(columns=dictr,inplace=True)

In [26]:
pattern = re.compile(r'(%s)'%current_date_1)
cell_list = sheet_instance.findall(pattern)

In [27]:
# cell_list

In [28]:
mask = f'R{cell_list[0].row}C{cell_list[0].col}:R{cell_list[-1].row}C9'

In [29]:
google_ads = sheet_instance.get(mask)

In [30]:
# google_ads

In [117]:
df = pd.DataFrame(google_ads)
# 2065236490

In [118]:
dictr = {0: 'date',
         3: 'campaign',
         4: 'cost',
         5: 'impressions'}
 
# call rename () method
df.rename(columns=dictr,
          inplace=True)
 
# print Data frame after rename columns

In [127]:
df.where(df['campaign'].str.contains('cad26-')).dropna()

,date,1,2,campaign,cost,impressions,6,7,8
0,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,597.85,642608,0,4247,80177
1,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,141.69,1859,4206,404,0
2,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,500.03,4696,5029,252,0
3,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,177.33,230889,0,684,10864
4,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,447.78,1728,1739,165,0
5,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,193.2,1797,7983,133,0
6,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0028_seda_brandshop_google_text_smar...,9.17,65,207,8,0
7,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0029_seda_brandshop_google_local_sma...,293.94,195880,0,1223,36465
8,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0030_seda_brandshop_google_local_sma...,35.42,48305,0,142,13184
9,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,219.55,110775,0,1547,4049

In [128]:
df

,date,1,2,campaign,cost,impressions,6,7,8
0,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0004_seda_brandshop_google_local-cam...,597.85,642608,0,4247,80177
1,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,141.69,1859,4206,404,0
2,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0013_seda_brandshop_google_text_smar...,500.03,4696,5029,252,0
3,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0017_seda_brandshop_google_local-cam...,177.33,230889,0,684,10864
4,2022-04-19,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0027_seda_brandshop_google_text_smar...,447.78,1728,1739,165,0
...,...,...,...,...,...,...,...,...,...
110,2022-04-19,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a0002_seda_care-plus_google_text_inst...,35,24,0,13,0
111,2022-04-19,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1000_seda_care-plus_google_text_smar...,1228.73,4627,5265,500,0
112,2022-04-19,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1010_seda_care-plus_google_text_smar...,1641.13,391,396,70,0
113,2022-04-19,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a3001_seda_care-plus_google_text_wata...,0,36,36,0,0
114,2022-04-19,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a8000_seda_care-plus_gdn_discovery_sm...,1968.11,367757,0,4912,0

In [129]:
filters = ['cad1-','cad3-','cad12-','cad26-','cad42-']
result = pd.DataFrame()
for i in filters:
    result = (df.where(df['campaign'].str.contains(i)).dropna())
    result = pd.concat(result)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [120]:
result

Empty DataFrame
Columns: []
Index: []

In [98]:
filter1 = df['campaign'].str.contains('cad1-')
filter2 = df['campaign'].str.contains('cad3-')
filter3 = df['campaign'].str.contains("cad12-")
filter4 = df['campaign'].str.contains("cad26-")
filter5 = df['campaign'].str.contains("cad42-")

In [99]:
# df.groupby(0)[3].apply(lambda ser: ser.str.contains("cad26-"))

In [109]:
result = df.where(filter1)

In [110]:
result.dropna()

Empty DataFrame
Columns: [date, 1, 2, campaign, cost, impressions, 6, 7, 8]
Index: []

In [108]:
result.groupby('date')[['cost','impressions']].apply(lambda x : x.astype(float).sum()).reset_index()

         date      cost  impressions
0  2022-04-19  66061.82    2910958.0

In [206]:
# df.dropna().groupby(0)[[4,5]].sum(4).reset_index()

            0         4          5
0  2022-04-18  47206.76  2561709.0

In [139]:
df['midia'] = 'google'

In [140]:
df.dropna()

,0,1,2,3,4,5,6,7,8,midia
47,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a0009_hq_ecommerce_google_text_institu...,1018.10,19103,20337,3721,0,google
48,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a0010_hq_ecommerce_google_text_institu...,2239.63,9200,9650,2091,0,google
49,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4075_hq_ecommerce_google_text_smartph...,2509.24,18648,38821,971,0,google
50,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4081_hq_ecommerce_google_text_smartph...,123.95,986,1055,66,0,google
51,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4082_hq_ecommerce_google_text_smartph...,598.90,5315,5837,275,0,google
...,...,...,...,...,...,...,...,...,...,...
260,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5512_hq_ecommerce_google_pla_accessor...,1852.05,128118,0,2465,0,google
261,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5934_hq_ecommerce_google_pla_wearable...,5287.66,234912,0,2180,0,google
262,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5940_hq_ecommerce_google_pla_tablets_...,5777.19,344951,0,4081,0,google
263,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5942_hq_ecommerce_google_pla_hearable...,817.00,78111,0,740,0,google
264,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5946_hq_ecommerce_google_pla_smartpho...,14681.43,1318764,0,16098,0,google

In [678]:
valid = pd.DataFrame(columns=['midia', 'cost','imp'])

In [679]:
filters = ['cad1-','cad3-','cad12-','cad26-','cad42-']

In [680]:
for i in filters:
    cad_filter = df[df[3].str.contains(i)]
    valid.loc[i] =  [i+'cad1inv',cad_filter[4].astype(float).sum(),cad_filter[5].astype(float).sum()]

In [681]:
valid

               midia      cost        imp
cad3-    cad3-google  47206.76  2561709.0
cad26-  cad26-google   2581.64  1683406.0
cad42-  cad42-google    516.60    29540.0

In [663]:
valid.loc[0] =  ['cad3-google',cad_filter[5].astype(float).sum(),cad_filter[4].astype(float).sum()]

In [664]:
valid

          midia       cost      imp
1  cad26-google  1683406.0  2581.64

In [648]:
valid

          midia       cost      imp
0  cad26-google  1683406.0  2581.64

In [526]:
df[5].astype(float).count()

209

In [150]:
records_data = sheet_instance.col_values(3)

# view the data
records_data

['Account',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | HQ | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | HQ | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | ESES | Loja Online',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | Brand Shop',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | SEDA | HHP | MARCOM',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | HQ | HHP | ESES | Loja Online',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | SEDA | HHP | B2B',
 'SSG | HQ | NPC | ESES | Loja Online',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | NPC | MARCOM',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | Content & Services | Orion',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care',
 'SSG | SEDA | CORPORATE | Care']

In [39]:
# convert the json to dataframe
records_df = pd.DataFrame.from_dict(records_data)

# view the top records
records_df.head()

      carros      pais  quantidade
0     toyota     japao           2
1  volkswage  alemanha           3
2  volkswage  alemanha           4
3  volkswage  alemanha           4
4  volkswage  alemanha           2

In [43]:
# add a sheet with 20 rows and 2 columns
# sheet.add_worksheet(rows=20,cols=2,title='runs')

# get the instance of the second sheet
sheet_runs = sheet.get_worksheet(1)

In [42]:
sheet_runs.insert_rows(runs.values.tolist())

{'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
 'updates': {'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
  'updatedRange': 'runs!A1:B3',
  'updatedRows': 3,
  'updatedColumns': 2,
  'updatedCells': 6}}

In [41]:

# number of runs by each batsman
runs = records_df.groupby(['pais'])['quantidade'].count().reset_index()
runs

       pais  quantidade
0  alemanha          10
1    brasil           4
2     japao           6

In [51]:
# def main():
#     """Shows basic usage of the Sheets API.
#     Prints values from a sample spreadsheet.
#     """
#     creds = None
#     # The file token.json stores the user's access and refresh tokens, and is
#     # created automatically when the authorization flow completes for the first
#     # time.
#     if os.path.exists('token.json'):
#         creds = Credentials.from_authorized_user_file('token.json', SCOPES)
#     # If there are no (valid) credentials available, let the user log in.
#     if not creds or not creds.valid:
#         if creds and creds.expired and creds.refresh_token:
#             creds.refresh(Request())
#         else:
#             flow = InstalledAppFlow.from_client_secrets_file(
#                 'fiap3sis-3b74d339060b.json', SCOPES)
#             creds = flow.run_local_server(port=0)
#         # Save the credentials for the next run
#         with open('token.json', 'w') as token:
#             token.write(creds.to_json())

#     try:
#         service = build('sheets', 'v4', credentials=creds)

#         # Call the Sheets API
#         sheet = service.spreadsheets()
#         result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
#                                     range=SAMPLE_RANGE_NAME).execute()
#         values = result.get('values', [])

#         if not values:
#             print('No data found.')
#             return

#         print('Name, Major:')
#         for row in values:
#             # Print columns A and E, which correspond to indices 0 and 4.
#             print('%s, %s' % (row[0], row[4]))
#     except HttpError as err:
#         print(err)

In [55]:
import pandas as pd
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow,Flow
from google.auth.transport.requests import Request
import os
import pickle

SCOPES = ['https://www.googleapis.com/auth/drive']

# here enter the id of your google sheet
SAMPLE_SPREADSHEET_ID_input = '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM'
SAMPLE_RANGE_NAME = 'A1:AA1000'

def main():
    global values_input, service
    creds = None
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'fiap3sis-3b74d339060b.json', SCOPES) # here enter the name of your downloaded JSON file
            creds = flow.run_local_server(port=0)
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result_input = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID_input,
                                range=SAMPLE_RANGE_NAME).execute()
    values_input = result_input.get('values', [])

    if not values_input and not values_expansion:
        print('No data found.')

main()

df=pd.DataFrame(values_input[1:], columns=values_input[0])

ValueError: Client secrets must be for a web or installed app.

In [1]:
H(x) -> h

SyntaxError: invalid syntax (1210039442.py, line 1)

In [2]:
import hashlib

In [6]:
print(hashlib.algorithms_available)

{'sha512_224', 'blake2s', 'shake_128', 'sha3_224', 'sha384', 'sha3_256', 'ripemd160', 'sha512_256', 'whirlpool', 'sm3', 'mdc2', 'sha256', 'sha224', 'blake2b', 'sha3_512', 'md4', 'sha3_384', 'md5', 'md5-sha1', 'sha1', 'sha512', 'shake_256'}

In [5]:
hashlib.md5('123').hexdigest()

TypeError: Strings must be encoded before hashing

In [7]:
print(hashlib.md5(b'Hello World').digest())

b'\xb1\n\x8d\xb1d\xe0uA\x05\xb7\xa9\x9b\xe7.?\xe5'