In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Notebook de testes').getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled',True)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows',30)
spark.conf.set('spark.sql.repl.eagerEval.truncate',30)

In [3]:
from pyspark.sql.functions import col, lit
spark.read.option('header',True).csv('work/pyspark/documentation/data/AdventureWorks/Person/Address.csv') \

+---------+---------------------+------------+-------------+---------------+----------+------------------------------+------------------------------+-----------------------+
|AddressID|         AddressLine1|AddressLine2|         City|StateProvinceID|PostalCode|               SpatialLocation|                       rowguid|           ModifiedDate|
+---------+---------------------+------------+-------------+---------------+----------+------------------------------+------------------------------+-----------------------+
|        1|        1970 Napa Ct.|        null|      Bothell|             79|     98011|0xE6100000010CAE8BFC28BCE44...|9AADCB0D-36CF-483F-84D8-585...|2007-12-04 00:00:00.000|
|        2|   9833 Mt. Dias Blv.|        null|      Bothell|             79|     98011|0xE6100000010CD6FA851AE6D74...|32A54B9E-E034-4BFB-B573-A71...|2008-11-30 00:00:00.000|
|        3| 7484 Roundtree Drive|        null|      Bothell|             79|     98011|0xE6100000010C18E304C4ADE14...|4C506923-6D1B-452C-A07C-BAA...|2013-03-07 00:00:00.000|
|        4|     9539 Glenside Dr|        null|      Bothell|             79|     98011|0xE6100000010C813A0D5F9FDE4...|E5946C78-4BCC-477F-9FA1-CC0...|2009-02-03 00:00:00.000|
|        5|        1226 Shoe St.|        null|      Bothell|             79|     98011|0xE6100000010C61C64D8ABBD94...|FBAFF937-4A97-4AF0-81FD-B84...|2008-12-19 00:00:00.000|
|        6| 1399 Firestone Drive|        null|      Bothell|             79|     98011|0xE6100000010CE0B4E50458DA4...|FEBF8191-9804-44C8-877A-33F...|2009-02-13 00:00:00.000|
|        7|        5672 Hale Dr.|        null|      Bothell|             79|     98011|0xE6100000010C18E304C4ADE14...|0175A174-6C34-4D41-B3C1-441...|2009-12-11 00:00:00.000|
|        8|   6387 Scenic Avenue|        null|      Bothell|             79|     98011|0xE6100000010C0029A5D93BDF4...|3715E813-4DCA-49E0-8F1C-318...|2008-12-17 00:00:00.000|
|        9|    8713 Yosemite Ct.|        null|      Bothell|             79|     98011|0xE6100000010C6A80AD742DDC4...|268AF621-76D7-4C78-9441-144...|2012-05-30 00:00:00.000|
|       10|       250 Race Court|        null|      Bothell|             79|     98011|0xE6100000010C219D64AE1FE44...|0B6B739D-8EB6-4378-8D55-FE1...|2008-12-02 00:00:00.000|
|       11|  1318 Lasalle Street|        null|      Bothell|             79|     98011|0xE6100000010CCEFFBBFD9FE94...|981B3303-ACA2-49C7-9A96-FB6...|2013-02-28 00:00:00.000|
|       12| 5415 San Gabriel Dr.|        null|      Bothell|             79|     98011|0xE6100000010C6A80AD742DDC4...|1C2C9CFE-AB9F-4F96-8E1F-D96...|2013-01-05 00:00:00.000|
|       13|          9265 La Paz|        null|      Bothell|             79|     98011|0xE6100000010CC3228C0867E84...|E0BA2F52-C907-4553-A0DB-67F...|2013-12-14 00:00:00.000|
|       14|         8157 W. Book|        null|      Bothell|             79|     98011|0xE6100000010C219D64AE1FE44...|A1C658AE-C553-4A9D-A081-A55...|2009-12-04 00:00:00.000|
|       15|       4912 La Vuelta|        null|      Bothell|             79|     98011|0xE6100000010C219D64AE1FE44...|F397E64A-A9D8-4E57-9E7C-B10...|2013-11-18 00:00:00.000|
|       16|         40 Ellis St.|        null|      Bothell|             79|     98011|0xE6100000010CF76E45EFC9DC4...|0312B65F-CB60-4396-9EC7-A78...|2012-11-09 00:00:00.000|
|       17|    6696 Anchor Drive|        null|      Bothell|             79|     98011|0xE6100000010C034C75E402DE4...|CE9B3B47-9267-4727-BCD2-687...|2013-11-08 00:00:00.000|
|       18|     1873 Lion Circle|        null|      Bothell|             79|     98011|0xE6100000010C219D64AE1FE44...|963854F7-E3CB-46A1-A3DB-1B0...|2013-11-30 00:00:00.000|
|       19|     3148 Rose Street|        null|      Bothell|             79|     98011|0xE6100000010C813A0D5F9FDE4...|6B7ACB0F-CDBF-44FD-BA14-EB0...|2014-04-03 00:00:00.000|
|       20|   6872 Thornwood Dr.|        null|      Bothell|             79|     98011|0xE6100000010C034C75E402DE4...|4B1F1ED4-97A4-43FD-BB1E-9E0...|2009-02-05 00:00:00.000|
|       21|   5747 Shirley Drive|        null|      Bothell|             79|     98011|0xE6100000010CEB9115FA90DB4...|D83299D7-A0F4-4055-9BD5-590...|2009-02-11 00:00:00.000|
|       22|    636 Vine Hill Way|        null|     Portland|             58|     97205|0xE6100000010CB55B852318C34...|7F641525-2704-4F73-9D8A-EB0...|2011-05-24 00:00:00.000|
|       23|6657 Sand Pointe Lane|        null|      Seattle|             79|     98104|0xE6100000010C9F07FD5862DD4...|B991568F-5096-4A92-B25C-1A3...|2009-01-15 00:00:00.000|
|       24|   80 Sunview Terrace|        null|       Duluth|             36|     55802|0xE6100000010C04554A7DD5664...|BE07D3C8-6E58-4670-9DA9-151...|2011-05-24 00:00:00.000|
|       25|     9178 Jumping St.|        null|       Dallas|             73|     75201|0xE6100000010C10A810D188624...|C8DF3BD9-48F0-4654-A8DD-14A...|2012-07-31 00:00:00.000|
|       26|     5725 Glaze Drive|        null|San Francisco|              9|     94109|0xE6100000010CFE3883FD5AE14...|77415959-A4EE-4DA6-86F9-70C...|2011-05-24 00:00:00.000|
|       27| 2487 Riverside Drive|        null|       Nevada|             74|     84407|0xE6100000010C50ECC7344CA04...|C1D0F3B0-6B2A-4388-8861-48F...|2011-05-24 00:00:00.000|
|       28|     9228 Via Del Sol|        null|      Phoenix|              6|     85004|0xE6100000010CCEEAD68894D44...|12AE5EE1-FC3E-468B-9B92-3B9...|2011-08-01 00:00:00.000|
|       29|    8291 Crossbow Way|        null|      Memphis|             72|     38103|0xE6100000010C7AED632C1D964...|7CC794AD-1822-412B-AB94-337...|2011-05-24 00:00:00.000|
|       30| 9707 Coldwater Drive|        null|      Orlando|             15|     32804|0xE6100000010C90C10F63019F3...|7431591F-36C1-4A65-B722-0E0...|2011-07-01 00:00:00.000|
+---------+---------------------+------------+-------------+---------------+----------+------------------------------+------------------------------+-----------------------+
only showing top 30 rows

In [9]:
##  1. Como pegar a data atual e concatenar com a palavra 'limao'

##  2. Pegar o timestamp em select

##  3. Pegar na tabela person as modificacoes entre 2014 e hoje

##  4. Pegar somente o ano atual

##  5. Pegar somente o mes atual

##  6. Somar os preços (unit price) de todas as specialofferid distintas da tabela saleorderdetail

##  7. Contar todos os preços da specialofferid distintas da tabela saleorderdetail

##  8. Saber a quantidade de produtos distintos (salesorderdetail)

##  9. Saber o quantidade de nomes distintos da (person)

##  10. Saber a media de preco para os produtos que sao pratas(silver)

##  11. Selecione o productNumber e o name transforme o productLine em category 'R' = 'Road', 'M' = 'Mountain','T' = 'Touring', 'S' = 'Other sale items' se não 'Not for sale'  (Production.Product)

##  12. Selecione o productNumber e o name e depois pesquise o listPrice e transforme em pricerange quando: listprice = 0 sera 'Mfg item - not for resale' , < 50 'Under 50', >= 50 and < 250 = 'under 250', >= 250 and < 1000 = 'under 1000', senao 'over 1000'

##  13. Pegar primeiro nao nulo das colunas (Class, Color, ProductNumber) da tabela product e salvar como firstNotNull

##  14. Na tabela products pegar a primeira ocorrencia da linha qual que não é nulo e replicar para o dados na seguinte ordem de campos Color, ProductNumber

##  15. Selecione todas as colunas da tabela person que tem o suffix nulo

##  16. Transforme os dados da tabela person e coluna suffix que são nulos em goiaba *, a coluna transformada deverá chamar énulo

##  17. Converta os endereços secundários que são nulos em endereços primarios da tabela person.address (FAÇA COM COALESCE TAMBEM)

##  18. Quais nomes tem uma ocorrencia maior que 10 vezes, na tabela Person

##  19. Quais sobrenomes tem uma ocorrencia maior que 2 vezes, na tabela Person

+--------------------------+
|                 timestamp|
+--------------------------+
|2023-06-20 03:22:30.208802|
+--------------------------+