In [1]:

from pyspark.sql import Row
row=Row("James",40)
print(row[0] +","+str(row[1]))

James,40

In [2]:

row=Row(name="Alice", age=11)
print(row.name)

Alice