In [ ]:

from pyspark.sql import Row
row=Row("James",40)
print(row[0] +","+str(row[1]))