    1.crie uma sessão spark

    2.set as variavel para não precisar do show()

    3.create dataframe

    4.create dataframe explicit

    5.Print o Schema

    6.Print o Show de um df não truncado

    7.Display DataFrame rows & columns vertically

    8.Create a StructType & StructField on DataFrame

    9. Create a Row Object

    10. Create Custom Class from Row

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [12]:
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = simpleData, schema = columns)

In [16]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec = Window.partitionBy("department").orderBy('salary')

In [19]:
df.withColumn('row_sdi',row_number().over(windowSpec)).show()

+-------------+----------+------+-------+
|employee_name|department|salary|row_sdi|
+-------------+----------+------+-------+
|        Maria|   Finance|  3000|      1|
|        Scott|   Finance|  3300|      2|
|          Jen|   Finance|  3900|      3|
|        Kumar| Marketing|  2000|      1|
|         Jeff| Marketing|  3000|      2|
|        James|     Sales|  3000|      1|
|        James|     Sales|  3000|      2|
|       Robert|     Sales|  4100|      3|
|         Saif|     Sales|  4100|      4|
|      Michael|     Sales|  4600|      5|
+-------------+----------+------+-------+

In [15]:
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
}